/* Extra small devices (phones, 600px and down)*/
/* @media only screen and (max-width: 600px) {} */

/* Small devices (portrait tablets and larde phones, 600px and up)*/
/* @media only screen and (min-width: 600px) {} */

/* Medium devices (landscape tablets, 768px and up)*/
/* @media only screen and (min-width: 768px) {} */

/* Large devices (laptops/desktps, 992px and up)*/
/* @media only screen and (min-width: 992px) {} */

/* Extra Large devices (large laptops and desktps, 1200px and up)*/
/* @media only screen and (min-width: 1200px) {} */


/* 992px and down */
@media only screen and (max-width: 992px) {
    body,h5 {
        background-color: #fafafa;
        font-size: 16px;
    }
    nav {
        display: none;
    }
    .sections,.sections section:last-child {
        width: auto;
        border-left: none;
    }
    .header, .container {
        padding: 0;
    }
    .header {
        /* height: auto; */
        min-height: 470px;
    }
    .header img {
        height: 150px;
        width: 150px;
        position: absolute;
        right: 0;
        left: 0;
        margin: auto;
        top: 75px;
    }
    .lang {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .header .title h1, .header .position, .header .position i,.header .button,.header .button i {
        color:#333533;
    }
    .header .title h1 {
        font-size: 36px;
    }
    .header .title h2 {
        font-size: 24px;
        margin: 30px 0;
    }
    .title .button {
        width: 100%;
        display: inline-block;
        border-color: #333533;
    }
    .title .button:hover,.button:hover i{
        color: #fafafa;
        background-color: #333533;
    }
    .header .title {
        background-color: #fafafa;
        margin: 0;
        width: 100%;
        text-align: center;
        margin-top: 150px;
        padding: 100px 20px 60px;

    }
    .sections {
        padding: 0 20px;
    }
    .sections section {
        border-top: 1px solid #D9D9D9;
        padding: 60px 0;
    }
    .sections section h4 {
        margin-top: 0;
        font-size: 20px;
    }
    .contanct {
        flex-wrap: wrap;
    }
    .contanct div {
        width: 100%;
    }
    .projects .project{
        width: 100%;
        padding: 20px;
    }
    .projects .project:last-child{
        margin-bottom: 36px;
    }
    .mobile-nav {
        display: block;
        background-color: #333533;
        color: #fafafa;
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }
    .mobile-nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0;  
    }
    .mobile-nav ul li i {
        margin-right: 5px;
    }
    .mobile-nav ul li {
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        flex: 1;
    }
    .mobile-nav ul li.active{
        color: #ffd100;
        border-bottom: 4px solid #ffd100;
    }   
}


